body {
	background: rgb(74, 0, 134);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
	background: rgba(0, 0, 0, 0.5);
	filter: blur(0.2px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 2rem;
	margin: 4rem auto;
}
#schedule {
	font-size: 7.5rem;
	color: #fff;
}
form {
	display: flex;
}
#task-input {
	font-size: 1.25rem;
}
#container-tasks {
	margin: 3.5rem 0;
}
#btn-task {
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	background-color: rgb(174, 0, 255);
	border: none;
	margin: 0 0.75rem;
	color: #fff;
	cursor: pointer;
}
#container-tasks .init-task {
	display: flex;
	justify-content: start;
	margin-top: 0.5rem;
	padding: 0.25rem 1rem;
}
#container-tasks div .init-btn {
	background: rgb(174, 0, 255);
	border: none;
	color: #fff;
	cursor: pointer;
}
#container-tasks div .del-task {
	background: rgb(212, 0, 0);
	border: none;
	color: #fff;
	cursor: pointer;
	margin-left: 0.5rem;
	margin-right: 1rem;
}
#container-tasks div span {
	color: rgb(255, 255, 255);
	margin-left: 1rem;
}
.task-schedule {
	color: rgb(255, 238, 0);
	margin-bottom: 1rem;
	margin-top: -1rem;
	font-size: 1.5rem;
}
.alert {
	color: rgb(221, 0, 0);
	font-size: 0.75rem;
	display: flex;
	align-content: flex-start;
	justify-content: center;
}
.alert-none {
	color: rgb(221, 0, 0);
	font-size: 0.75rem;
	display: flex;
	align-content: flex-start;
	justify-content: center;
	display: none;
}
.bi-gear-fill {
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 97%;
	cursor: pointer;
}

.container-setting {
	position: absolute;
	top: 0;
	left: 77.5%;
	padding: 2.5rem;
	margin-top: 2rem;
	background-color: rgba(163, 82, 255, 0.363);
	display: none;
}

#form-setting {
	display: flex;
	flex-direction: column;
}
#form-setting span {
	font-size: 0.75rem;
	color: aliceblue;
	margin-bottom: 0.25rem;
}

#form-setting > input[type='submit']:nth-child(3) {
	position: absolute;
	top: 80%;
	left: 80%;
	cursor: pointer;
	border: none;
	background: skyblue;
}
.bi-play-circle-fill {
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	cursor: pointer;
}
.bi-stop-circle-fill {
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	cursor: pointer;
	display: none;
}
